.logo {
	width: 100%;
	z-index: 999;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	svg {
		width:46%;
	}
	.batman-logo {
		stroke: #ff000;
		animation: batman-pulse 3s 1 alternate;
	}
}

.superman {
  filter: url(#superman-inner-shadow);
}

.superman.loading {
  animation: light-pulse 3s 1 alternate;
}

@keyframes light-pulse {
  0%   { fill: rgba(0, 0, 0, 1); }
  50%  { fill: rgba(128, 0, 0, 1); }
  100% { fill: rgba(255, 0, 0, 1); }
}

@keyframes batman-pulse {
  0%   { fill: rgba(255, 0, 0, 1); }
  50%  { fill: rgba(128, 0, 0, 1); }
  100% { fill: rgba(0, 0, 0, 1); }
}

.vs-circle {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -80%, 0);
	text-align: center;
	svg {
		width: 100%;
	}
}